<div style="text-align:center">
  <h1>
    Welcome to Mobile!
  </h1>
</div>
<div class="container">
  <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar">
      <li class="nav-item"> <a style="margin-left: 20px" class="btn btn-primary" routerLink="add">Add</a></li>
      <li class="nav-item"> <a style="margin-left: 20px" class="btn btn-primary" routerLink="show">Show</a></li>
      <!-- <li class="nav-item"> <a style="margin-left: 20px" class="btn btn-primary" routerLink="search">Search</a></li>
  <li class="nav-item"> <a style="margin-left: 20px" class="btn btn-primary" routerLink="showsearcheddata">Show Searched Data</a></li> -->
    </ul>


  </nav>
</div>
<router-outlet></router-outlet>
